.SkillCard {
  border: 2px solid red;
  height: 90px;
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;
  border-radius: 4px;
}
